@model IEnumerable<mvc.Models.Contato>

@{
    ViewData["Title"] = "Contatos";
}

<div class="row">
    <h2 class="col-10">Contatos</h2>
    <div class="col-2">
        <a asp-action="Criar">
            <button class="btn btn-primary rouded-50">Criar novo contato</button>
        </a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var contato in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => contato.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(model => contato.Telefone)
                    </td>
                    <td>
                        <a asp-action="Editar" asp-route-id="@contato.Id" class="text-decoration-none"><i class="bi bi-pencil-square"></i></a>
                    </td>
                    <td>
                        <a asp-action="Detalhar" asp-route-id="@contato.Id" class="text-decoration-none"><i class="bi bi-plus-circle-fill"></i></a>
                    </td>
                    <td>
                        <a asp-action="Excluir" asp-route-id="@contato.Id" class="text-decoration-none">Excluir</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>