@model IEnumerable<mvc.Models.Contato>

@{
    ViewData["Title"] = "Contatos";
}

<div class="row">
    <h2 class="col-10">Contatos</h2>
    <div class="col-2">
        <a asp-action="Criar">
            <button class="btn btn-primary rouded-50">Criar novo contato</button>
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var contato in Model)
                {
                    <tr class="align-middle">
                        <td>
                            @Html.DisplayFor(model => contato.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(model => contato.Telefone)
                        </td>
                        <td>
                            <a asp-action="Detalhar" asp-route-id="@contato.Id" class="btn btn-success text-decoration-none">
                                <i class="bi bi-info-circle"></i> &nbsp; Detalhar
                            </a>
                        </td>
                        <td>
                            <a asp-action="Editar" asp-route-id="@contato.Id" class="btn btn-primary text-decoration-none">
                                <i class="bi bi-pencil-square"></i> &nbsp; Editar
                            </a>
                        </td>
                        <td>
                            <a asp-action="Excluir" asp-route-id="@contato.Id" class="btn btn-danger text-decoration-none">
                                <i class="bi bi-trash"></i> &nbsp; Excluir
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
